.time-slot-wrapper {
    margin: 2rem 0;
}

.time-slot-times {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    margin-top: 1rem;
}

.time-slot-button {
    border: 1px solid #D0D0D0;
    color: #000;
    text-align: center;
    border-radius: 5px;
    height: 45px;
}

.time-slot-button:hover {
    border-color: #64BC6E;
}

.time-slot-button.selected {
    color: #fff;
    background-color: #64BC6E;
}

.time-slot-button.unavailable {
    pointer-events: none;
    text-decoration: line-through;
    font-style: italic;
    background-color: #ccc;
}

.time-slot-continue  {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 2rem 0;
}

.time-slot-continue a {
    background-color: #0176C4;
    color: #fff;
    text-transform: uppercase;
    width: 100px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    font-size: 1.75;
    display: block;
    text-align: center;
}

.time-slot-card {
    cursor: pointer;
}

.time-slot-card h4 {
    font-size: 1.25rem;
    font-weight: bold;
}

.time-slot-card p {
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    width: max-content;
    display: inline-block;
    border-bottom: 2px solid #fff;
}

.time-slot-card:hover p {
    border-color: #64BC6E;
}

.time-slot-days-inner {
    display: flex;
    position: relative;
    overflow: hidden;
}

.time-slot-days-container {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    transition: transform 0.3s ease;
}

@media (max-width: 767px) {
    .time-slot-days-container {
        grid-template-columns: repeat(2, auto);
    } 
}

@media (max-width: 549px) {
    .time-slot-days-container {
        grid-template-columns: repeat(1, auto);
    } 
}

.time-slot-card.active {
    pointer-events: none;
}

.time-slot-card.active p {
    border-bottom: 2px solid #64BC6E;
}

.slider-reverse, .slider-forward {
    font-size: 2rem;
}